    h1 {
      font-family: 'Times New Roman', Times, serif;
      color: white;
      font-size: 40px;
    }

    body {
      background-color: rgb(185, 146, 190);
      text-align: center;
    }

    p {
      color: white;
      font-size: 22px;
    }

    em {
      color: rgb(149, 239, 174);
    }

    strong {
      color: rgb(149, 239, 174);
    }

    li {
      font-size: 20px;
      color: rgb(249, 220, 227);
    }

    a {
      color: white
    }

    #destaque {
      font-size: 24px;
      color: white;
    }

    #blog {
      font-size: 20px;
    }

    #hab {
      font-size: 24px;
    }